@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.wrapper {
		@apply w-[80%] mx-auto
	}

}

@layer utilities {
	.animate-heading {
		@apply w-fit m-auto text-8xl p-[40px] font-bold;
	}
}

.calc-class {
	min-height: calc(100vh - 84px);
}

html, body {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}